.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #14112ce6;
    z-index: 2;
  }
  &_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
  }
  &_logo {
    flex: 0 0 180px;
    overflow: hidden;
    position: relative;
    z-index: 3;
    & img {
      max-width: 100%;
      display: block;
    }
  }
  &_menu {
    margin-top: 15px;
  }
  &_list {
    display: flex;
    position: relative;
    text-align: center;
    padding: 0 0 0 5px;
    z-index: 2;
    & li {
      list-style: none;
      margin: 0 140px 0 0;
      align-self: center;
    }
  }
  &_link {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    &:hover {
      color: #909ee7;
    }
  }
}
