.btn-info {
  background-color: #949edf;
}
.btn-info:hover {
  background-color: #949edf;
  border-color: #949edf;
}
.card {
  border: none;
}
.card-header {
  border: none;
  background-color: white;
}
