.btn-info {
  background-color: #949edf;

  &:hover {
    background-color: #949edf;
    border-color: #949edf;
  }
}

.card {
  border: none;

  &-header {
    border: none;
    background-color: white;
  }
}
