.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about_container {
  display: flex;
  flex-direction: row;
}
.about .container {
  padding-right: 0;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 19px;
}
.contact {
  &_content {
    margin: 0 auto;
  }
  &_link {
    display: flex;
    justify-content: center;

    & h1 {
      font-weight: bold;
      text-align: center;
    }
    & h5 {
      text-align: center;
    }
    & img {
      height: 60px;
      width: 60px;
      margin: 10px auto;
    }
  }
  &_item {
    text-align: center;
    align-items: center;
    padding: 30px;

    & h6 {
      opacity: 0.5;
    }
  }
}
.b24-form {
  width: 100%;
}
.border {
  &_map,
  &_call,
  &_email,
  &_earth {
    border-top-color: white;
    border-left-color: white;
  }
}

@media (max-width: 700px) {
  .about h1 {
    display: none;
  }
}
@media (max-width: 400px) {
  .contact_link {
    flex-direction: column !important;
  }
}
@media (max-width: 992px) {
  .border {
    &_map,
    &_call,
    &_email,
    &_earth {
      border-color: white;
    }
  }
  .about {
    display: block;
  }
  .about_container {
    flex-direction: column;
  }
  .b24-form {
    width: 100% !important;
  }
  .contact_link {
    margin: 0 auto;
    flex: 1 0 50% !important;
  }
  .contact_content {
    flex-direction: column !important;
  }
  .contact_call {
    width: 100% !important;
  }
  .col-md-6 {
    max-width: 100%;
  }
}
@media (min-width: 1000px) {
  .about {
    height: 100vh;
  }
}
@media (min-width: 2100px) {
  .about .container {
    height: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .b24-form-control {
    height: 100px !important;
    font-size: 40px !important;

    &-label {
      font-size: 20px !important;
    }
    &-alert-message {
      font-size: 20px !important;
    }
  }
  .contact_link img {
    height: 100px;
    width: 100px;
    margin: 10px auto;
  }
}
