.footer {
  &_main {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px;
    text-align: center;
    margin: auto 0 0 0;
    min-width: 280px;

    p {
      color: gray;
    }
  }

  &_list {
    list-style: none;
    display: inline-flex;
    padding: 0;

    li {
      margin: 0 10px;
    }

    img {
      height: 30px;
      border-radius: 30%;
      background: white;
      transition: all 0.5s ease;

      &:hover {
        background: #909ee7b3;
      }
    }
  }
}
