.home {
  & .homepage {
    height: 300px;
    background: url("/img/main.jpg") no-repeat;

    background-position: center;
    background-size: auto 100%;

    & h1 {
      text-shadow: 2px 0px 1px grey;
    }
  }
  & .p-border {
    font-size: 20px;
    border-top: 3px double rgb(76, 0, 255);
    border-bottom: 3px double rgb(76, 0, 255);
  }
}

.benefit_list {
  text-align: start;
  list-style: "\2611";

  li {
    padding-left: 10px;
  }
}
