.team_cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.team_cards_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 334px;
}
.team_cards img {
  width: 180px;
  border: 1px solid black;
}
img.active {
  width: 9vw;
  height: 9vw * 1.77;
}
@media (max-width: 992px) {
  img.active {
    width: 20vw;
    height: 20vw * 1.77;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .team_cards_row {
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 0px;
  }
}
@media (max-width: 768px) {
  .team_cards_row {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  .team_cards_row {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
